<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241793730470-pplgpa6fkgcqt3tup5het586pbteq4gg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241793730470-pplgpa6fkgcqt3tup5het586pbteq4gg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>241793730470-faa0vc71t2svv2t5r83o261e56og1db5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzGCSpdVzebE4Uk43SFvqsaiLo-6HybeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>241793730470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.streamline</string>
	<key>PROJECT_ID</key>
	<string>streamline-f4494</string>
	<key>STORAGE_BUCKET</key>
	<string>streamline-f4494.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241793730470:ios:5491d4ed7800a6b093f167</string>
</dict>
</plist>